<?xml version="1.0" encoding="UTF-8"?>
<model>
  <name>Landing sign</name>
  <version>1.0</version>
  <sdf version="1.7">landing-sign.sdf</sdf>
  <author>
    <name>Kevin Martinez</name>
    <email>kevin@nuclea.solutions</email>
  </author>
  <description>A simple 1m x 1m H landing sign</description>
</model>
